/*BACKGROUND*/
.lightBG {
	background-color: #0097c8;
	color: white;
}
.darkBG {
	background-color: #293241;
	color: white;
}

hr {
  border-color: white;
  border-width: 2px;
  max-width: 50px;
  margin-bottom: 50px;
}

hr.dark {
  border-color: #293241;
}


/*TEXT*/
h1 {
	font-family: 'Shadows Into Light Two', cursive;
	line-height: 1.2;
	font-size: 60px;
	font-weight: 800;
}
h2 {
  	font-family: 'Shadows Into Light Two', cursive;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
}
h3 {
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 32px;
	line-height: 1.5;
	font-weight: 400;
}
h4 {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 400;
}
h5 {
	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 500px) {
	h1 {font-size: 48px;}
	h2 {font-size: 30px;}
	h3 {font-size: 24px;}
	h4 {font-size: 18px;}
	h5 {font-size: 16px;}
	p {font-size: 14px;}
}
@media (min-width: 900px) {
	h1 {font-size: 80px;}
	h2 {font-size: 48px;}
	h3 {font-size: 36px;}
	h4 {font-size: 24px;}
	h5 {font-size: 20px;}
	p {font-size: 16px;}
}

a {
	color: #0097c8;
}
a:hover {
	color: #20b9d6;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 1px;
}

/*BUTTON*/
.btn-customize {
    background: #0097c8;
    color: #ffffff;
}
 
.btn-customize:hover, .btn-customize:focus, .btn-customize:active, .btn-customize.active, .open > .dropdown-toggle.btn-customize {
    background: #20b9d6;
    color: #ffffff;
}
 
.btn-customize:active, .btn-customize.active {
    background: #20b9d6;
    color: #ffffff;
    box-shadow: none;
}

/*NAVBAR*/
.navbar-default {
	font-family: 'Shadows Into Light Two', cursive;
	background-color: white;
	border-color: rgba(41, 50, 65, 0.1);
	text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-toggle{ /*menu icon*/
	background-color: #0097c8;
}
.navbar-default .navbar-header .navbar-toggle:hover,
.navbar-default .navbar-header .navbar-toggle:focus { /*menu icon on hover/focus*/
	background-color: white;
}
.navbar-default .navbar-header .navbar-toggle .icon-bar{ /*menu bars*/
	background-color: white;
}
.navbar-default .navbar-header .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-header .navbar-toggle:focus .icon-bar{ /*menu bars*/
	background-color: #20b9d6;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
//  background-color: #20b9d6;
//  color: white;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  font-weight: 600;
  font-size: 16px;
  color: #0097c8;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
	color: #20b9d6;
}

.navbar-default .nav > .active > a,
.navbar-default .nav > .active > a:hover,
.navbar-default .nav > .active > a:focus {
	background-color:#0097c8;
	color: white;
}

@media (min-width: 768px) {
	.navbar {
		background: transparent;
	    -webkit-transition: all 0.6s ease-out;
	    -moz-transition: all 0.6s ease-out;
	    -o-transition: all 0.6s ease-out;
	    -ms-transition: all 0.6s ease-out;
	    transition: all 0.6s ease-out;
	}
	.navbar-default .nav > li > a,
	.navbar-default .nav > li > a:focus {
	  color: white;
	}
	.navbar.scrolled {
	    background-color: white;
	}

	.navbar.scrolled .nav > li > a,
	.navbar.scrolled .nav > li > a:focus {
		color: #0097c8;
	}

	.navbar-default .nav > li > a,
	.navbar-default .nav > li > a:focus,
	.navbar-default .navbar-nav>.open>a, 
	.navbar-default .navbar-nav>.open>a:focus, 
	.navbar-default .navbar-nav>.open>a:hover {
		//background-color: transparent;
		//color: #BEEAEF
	}
	.navbar-default .nav > li > a:hover,
	.navbar-default .nav > li > a:focus:hover {
		color: #20b9d6;
	}
	.navbar.scrolled .nav > .active > a,
	.navbar.scrolled .nav > .active > a:hover,
	.navbar.scrolled .nav > .active > a:focus {
	    background-color:#0097c8;
	    color: white;
	}

}

/*HEADER*/
header {
	position: relative;
	width: 100%;
	min-height: auto;
	background-size: cover;
	background-position: center;
	background-image: url('../resources/cover.jpg');
	text-align: center;
	color: white;
	}
header .header-text {
	position: relative;
	text-align: center;
	padding: 200px 50px 200px 50px;
	width: 100%;
}
header .header-content .header-text h1 {
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 100px;
}

header .header-content .header-text p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
  color: white;
}
@media (max-width: 400px) {
  header .header-text {
	padding: 180px 10px 180px 10px;
  }
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-text {
	padding: 200px 100px 200px 100px;
  }
}

/*ABOUT*/
#about {
	padding-top: 100px;
	padding-bottom: 100px;
}
#about .text-center {
	padding-top: 25px;
}

/*OFFERS*/
#offers {
	padding-top: 80px;
	padding-bottom: 80px;
}
#offers i {
	padding-top: 25px;
}
@media (min-width: 768px) {
	#offers i {
		padding-top: 50px;
	}
}


/*SERVICES*/
#services {
	padding-top: 60px;
	padding-bottom: 60px;
}
#services .section-heading {
	padding-bottom: 50px;
}

/*MAILING LIST*/
#mailingList {
	position: relative;
	width: 100%;
	min-height: 250px;
	background-size: cover;
	background-position: center;
	background-image: url('../resources/cover2.jpg');
	text-align: center;
	color: white;
	padding-top: 100px;
	padding-bottom: 100px;
}
@media (min-width: 768px) and (max-width: 992px) {
	#mailingList button {
		margin-top: 10px;
	}
}
@media (min-width: 992px) {
	#mailingList form {
		margin-top: 25px;
	}
}
/*INFO*/
#info {
	padding-top: 60px;
	padding-bottom: 60px;
}
#info a{
	margin-top: 20px;
}

/*CONTACTS*/
#contacts {
	padding-top: 80px;
	padding-bottom: 80px;
}
#contacts .col-sm-4 {
	margin-top: 25px;
}
.social-media li{
	margin-top: 5px;
}


/*FOOTER*/
footer {
	background-color: white;
	padding: 10px 0;
	font-size: 11px;
}

footer a,
footer .glyphicon
{
	color: #0097c8;
}